div {
    display: block;
}
.card_wrap {
    width: 1164px;
    margin: 12px 0 -24px -24px;
    clear: both;
}
.card {
    float: left;
    position: relative;
    width: 267px;
    height: 363px;
    margin: 0 0 24px 24px;
    background-color: #fff;
    font-family: NanumSquareWebFont,dotum,Sans-serif;
    text-decoration: none;
    color: inherit;

}

.card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid rgba(0,0,0,.11);
    content: "";
    margin: 0 auto;
}


*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.content {
    width: 1140px;
    margin: 60px auto 0;
}
.content_title {
    float: left;
    padding-top: 7px;
    padding-bottom: 14px;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -.5px;
    color: #333;
    font-weight: bold;
}
h3 {
    display: block;
    margin-block-start: 1.5em;
    margin-block-end: 1.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.wrap {
    min-width: 1140px;
}
.card .card_img {
    vertical-align: top;
}
fieldset, img {
    border: 0;
}
img[Attributes_Style] {
    width: 267px;
    aspect-ratio: auto 267 / 200;
    height: 200px;
}
img {
    overflow: clip;
}
.card .card_content {
    padding: 17px 15px 0;
}
.card .card_title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    height: 50px;
    line-height: 25px;
    word-wrap: break-word;
    word-break: break-all;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 19px;
    letter-spacing: -.5px;
    color: #333;
    font-weight: 900;
}
body {
    background-color: whitesmoke;
}