
/*.product-list{*/
/*    width: 735px;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*}*/
/*.products h3{*/
/*    font-size: 24px;*/
/*    color: #545454;*/
/*    margin-top:60px;*/
/*    margin-bottom: 60px;*/
/*    text-align: center;*/
/*}*/

/*.product{*/
/*    display: block;*/
/*    width: 225px;*/
/*    text-align: center;*/
/*    text-decoration:none;*/
/*    color: black;*/
/*    float:left;*/
/*    margin-left: 10px;*/
/*    margin-right: 10px;*/
/*    margin-bottom: 30px;*/
/*}*/

/*.product-name{*/
/*    margin-top: 20px;*/
/*    margin-bottom: 4px;*/
/*}*/

/*.clearfix{*/
/*    clear: both;*/
/*}*/
/*.footer{*/
/*    text-align: center;*/
/*    margin-top: 40px;*/
/*    margin-bottom: 40px;*/
/*}*/

/*.footer a{*/
/*    margin-left: 10px;*/
/*    margin-right: 10px;*/
/*    text-decoration:none;*/
/*}*/

div {
    display: block;
}

.card_wrap {
    width: 1164px;
    margin: 12px 0 -24px -24px;
    clear: both;
}
.card {
    float: left;
    position: relative;
    width: 267px;
    height: 363px;
    margin: 0 0 24px 24px;
    background-color: #fff;
    font-family: NanumSquareWebFont,dotum,Sans-serif;
    text-decoration: none;
    color: inherit;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.content {
    width: 1140px;
    margin: 60px auto 0;
}
.content_title {
    float: left;
    padding-top: 7px;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -.5px;
    color: #333;
}
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.wrap {
    min-width: 1140px;
}
a {
    text-decoration-line: none;
}