* {
    font-family: 'Nanum Gothic', cursive;
}

.container .carousel-inner .carousel-item::before {
    content: '';
    width: 100%;
    height: 63%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba(36, 36, 36, 1), rgba(0, 0, 0, 0));
    border-radius: 0 0 13px 13px;
    padding-right: 10px;
    padding-bottom: 80px;
}

.container .slide .active .info {
    width: 100%;
    padding: 0 32px;
    box-sizing: border-box;
    position: absolute;
    bottom: 23px;
    left: 0;
    /*top: 80px;*/
    border-radius: 0 0 13px 13px;

}

.container .slide .active .info .name {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    line-height: 1.3;
    white-space: pre-line;
    max-height: 2.6em;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: keep-all;
}

.container .slide .active .info .group {
    width: 100%;
    margin-top: 26px;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.container .slide .active .info .d-day {
    width: 100%;
    margin-top: 26px;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}