@charset "UTF-8";
*{
    margin: 0;
    padding:0;
}

/* 화면 전체 렙 */
.wrapper{
    vertical-align: middle;
}

/* content 랩 */
.wrap{
    width : 700px;
    margin: auto;
}

/* 페이지 로고 */
.logo_wrap{
    text-align: center;
    margin-top: 180px;
    margin-bottom: 50px;
}
.logo_wrap>a{
    font-size : 50px;
    font-weight: 900;
}
.logo{
    width: 300px;
    height: 150px;
    display: inline-block;
    background: url(../images/logo.png) 0 0 no-repeat;
    background-size: contain;
    overflow: hidden;
    text-indent: -9999px;
    vertical-align: bottom;
}


.login_wrap{
    text-align: center;
    margin: 100px 0;
}
.login_wrap>span{
    font-size : 50px;
    font-weight: 900;
}


/* 로그인 area */
.id_wrap{
    margin-top: 40px;
}
.id_input_box{
    border: 1px solid black;
    height:31px;
    padding: 10px 14px;
    display: block;
    width : 80%;
    margin : auto;
}
.id_input{
    width:100%;
    height:100%;
    border:none;
    font-size:28px;
}


.pw_wrap{
    margin-top: 20px;
}
.pw_input_box{
    border: 1px solid black;
    height:31px;
    padding: 10px 14px;
    display: block;
    width : 80%;
    margin : auto;
}
.pw_input{
    width:100%;
    height:100%;
    border:none;
    font-size:28px;
}

.button_wrap{
    margin-top: 20px;
}
.login_button_wrap{
    margin-top: 40px;
    text-align: center;
    border:none;
}
.login_button{
    width: 84%;
    height: 60px;
    background-color: #62B6B7;
    font-size: 40px;
    font-weight: 900;
    color: white;
    margin : auto;
    cursor:pointer;
    border: 0 !important;
    outline: 1px solid #569a67;
}

/* float 속성 해제 */
.clearfix{
    clear: both;
}
