@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
* {
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    width: 100%;
    height: 100%;
    line-height: 1.2;
}

li{
    list-style-type: none;
}

nav{

}

header .logo{
    width: 153px;
    height: 50px;
    display: inline-block;
    background: url(../images/logo.png) 0 0 no-repeat;
    background-size: contain;
    overflow: hidden;
    text-indent: -9999px;
    vertical-align: bottom;
}


.site_header {
    background-color: white;
    padding: 0 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 0.5rem;
    -webkit-transition: all 0.25s cubic-bezier(0.42, 0, 0, 1);
    transition: all 0.25s cubic-bezier(0.42, 0, 0, 1);
    -webkit-box-shadow: 0px 2px 4px -1px #0000000f, 0px 4px 6px -1px #0000001a;
    box-shadow: 0px 2px 4px -1px #0000000f, 0px 4px 6px -1px #0000001a;
}

.site_header.darkmode {
    background-color: #1f2937;
    color: white;
}

.site_header.darkmode .menu li a {
    color: white;
}

.site_header.darkmode .menu li a:hover {
    color: #439A97;
}

.site_header.darkmode .menu li a.active:hover {
    color: white;
}

.brand {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 900;
}

.brand_point {
    color: #439A97;
}

.menu {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 64px;
}

.menu li {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}

.menu li a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    position: relative;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 600;
    font-size: 1rem;
    -webkit-transition: all 0.25s cubic-bezier(0.42, 0, 0, 1);
    transition: all 0.25s cubic-bezier(0.42, 0, 0, 1);
    padding: 0 1rem;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu li a.active {
    color: white;
}

.menu li a.active:hover {
    color: white;
}

.menu li a.active:before {
    background-color: #439A97;
    z-index: -1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}

.menu li a:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #439A97;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all 0.25s cubic-bezier(0.42, 0, 0, 1);
    transition: all 0.25s cubic-bezier(0.42, 0, 0, 1);
}

.menu li a:after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 100%;
    height: 0px;
    background-color: #439A97;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}


.menu li a:hover {
    color: #439A97;
}

.menu li a:hover:after {
    width: 100%;
    height: 4px;
}

body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
button, input, select, textarea {
    border: 0;
    border-radius: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.category-theme_area{
    background-color: #10c838;
}
.category-theme_inner {
    width: 1000px;
    margin: 0 auto;
    padding: 60px 90px 60px;
}
.category-theme_item {
    display: inline-block;
    width: 150px;
    text-align: center;
    font-size: 17px;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.blind, input[type=checkbox], input[type=radio] {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
}



/*# sourceMappingURL=style.css.map */