@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body{
    -webkit-font-smoothing: antialiased;
    background-color: whitesmoke;
    min-height: 1590px;
}

div {
    display: block;
}

#container{
    padding-bottom: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 10px;
}

.collect_wrap{
    width: 1098px;
    margin: 0 auto 90px;
    border-bottom: 1px solid #e5e5e5;
    background: url(https://ssl.pstatic.net/happyimg2/img/mainhome/bg_crowd.gif) repeat-y;
}

.collect_wrap::after{
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

.collect_wrap .content_content {
    float: left;
    width: 800px;
    padding: 60px 94px 90px;
    font-size: 16px;
}

.collect_wrap .theme {
    padding-bottom: 16px;
    font-size: 17px;
    font-weight: 400;
    color: black;
    letter-spacing: -.06em;
    line-height: 1;
}

.collect_wrap .title {
    font-size: 36px;
    font-weight: 400;
    color: #222;
    letter-spacing: .4px;
    line-height: 40px;
    margin: 20px 0 50px;

}

.intro_list {
    margin: 0;
    overflow: hidden;
}

.editor_base{
    line-height: 1.5;
}

ol, ul{
    list-style: none;
}

.intro_list li dt{
    font-weight: 700;
    font-size: 20px;
    color: #444;
    line-height: 30px;
    letter-spacing: 1px;
}

.intro_list li dd{
    margin-top: 16px;
    font-size: 18px;
    color: #666;
    line-height: 32px;
    text-align: justify;
    letter-spacing: -.01px;
}

.collect_wrap .content_side {
    float: right;
    width: 282px;
    font-size: 15px;
}

.section_title {
    margin-left: 60px;
}
.content_side .tit {
    padding-top: 96px;
    font-size: 18px;
}
.content_side .tit2 {
    padding-bottom: 24px;
    font-size: 20px;
    font-weight: bold;
}

.content_side .bt {
    display: inline-block;
    width: 282px;
    height: 60px;
    padding-top: 17px;
    border: 1px solid rgba(0,0,0,.1);
    background: #439A97;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #086a1e;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}


div {
    display: block;
}

.content_side .section_status {
    position: relative;
    padding-bottom: 25px;
}

.section_status {
    margin: 0 1px;
    padding: 23px 29px 27px;
    border-bottom: 0;
}
.graph_status {
    padding-right: 2px;
}
.graph_status::after{
    display: block;
    clear: both;
    content: "";
}

.graph_status .per{
    float: left;
    font-size: 24px;
    color: #439A97;
}

.graph_status .per strong {
    font-size: 53px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -2px;
}

.content_side .section_status .term_area p{
    padding: 13px 0 11px;
    font-size: 18px;
    color: #888;
    letter-spacing: -.04em;
}

.content_side .section_status .num_area {
    padding-top: 24px;
}

.section_status .num_area .status_num {
    padding-bottom: 0px;
    font-size: 18px;
    color: #444;
}

.section_status .num_area .status_num strong {
    display: inline-block;
    font-size: 34px;
    font-weight: 400;
    color: #444;
    vertical-align: text-top;
}

.section_status .num_area .status_num span {
    display: inline-block;
    margin: 8px 0 0 4px;
    vertical-align: text-top;
}

.num_area .detail_num {
    margin: 6px 0 0 0;
    color: #888;
}

.num_area .detail_num strong {
    font-weight: 400;
    vertical-align: middle;
}
.num_area .detail_num span {
    font-size: 16px;
    vertical-align: middle;
}

.num_area .detail_num em {
    margin-top: 0;
    font-size: 16px;
}

section.replyForm { padding:20px 0; }
section.replyForm div.input_area { margin:10px 0; }
section.replyForm textarea { font-size:16px; font-family:'맑은 고딕', verdana; padding:10px; width:600px;; height:100px; border:1px solid #ccc; outline: none; resize: none;}
section.replyForm button { font-size:20px; padding:5px 10px; margin:10px 0; background:#fff; border:1px solid #ccc; }

section.replyList { padding:30px 0; }
section.replyList ol { padding:0; margin:0; }
section.replyList ol li { padding:10px 0; border-bottom:2px solid #eee; }
section.replyList div.userInfo { }
section.replyList div.userInfo .userName { font-size:24px; font-weight:bold; }
section.replyList div.userInfo .date { color:#999; display:inline-block; margin-left:10px; }
section.replyList div.replyContent { padding:10px; margin:20px 0; }