@charset "UTF-8";

*{
    margin: 0;
    padding:0;
}

label {
    font-weight: bold;
    display: block;
    font-size: 19px;
}

/* 화면 전체 렙 */
.wrapper{
    vertical-align: middle;
}

/* content 랩 */
.wrap{
    width : 700px;
    margin: auto;
}

/* 아이디 영역 */
.box_wrap{
    width: 100%;
    margin-top: 20px;
}
.box_input{
    width:100%;
    height:40px;
    font-size:30px;
    border: 0;
    outline: 1px solid #569a67;
    border-radius: 10px;
}

/*주소영역*/
.adres_wrap{
    width: 100%;
    margin-top: 20px;
}
.adres_input{
    width:100%;
    height:40px;
    font-size:25px;
    outline: 1px solid #569a67;
    border-radius: 7px;
    margin-bottom: 13px;
}

/* 버튼 */
.button_wrap{
    margin-top: 20px;
}
.login_button{
    width: 100%;
    height: 60px;
    background-color: #62B6B7;
    font-size: 40px;
    font-weight: 900;
    color: white;
    margin : auto;
    cursor:pointer
}
.sign {
    margin-bottom: 22px;
    color: #0f74a8;
    font-size: 17px;
    font-family: Algerian
}