<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.water_web.Mapper.AdminMapper">

    <!-- 카테고리 호출 -->
    <select id="ctgry" resultType="com.example.water_web.Vo.CtgryVo">
        select ctgry_nm, ctgry_code
        from tb_ctgry
    </select>

    <!-- 기부 등록 -->
    <insert id="register" parameterType="com.example.water_web.Vo.DonaVo">
        insert into tb_cntr (
                             cntr_ttl,
                             cntr_cn,
                             cntr_rcvfvr,
                             cntr_str_dt,
                             cntr_end_dt,
                             cntr_obctr,
                             cntr_category,
                             cntr_category2,
                             cntr_adres1,
                             cntr_adres2,
                             rgtr_id,
                             rgtr_dt)
        values ( #{cntr_ttl},
                #{cntr_cn},
                #{cntr_rcvfvr},
                #{cntr_str_dt},
                #{cntr_end_dt},
                #{cntr_obctr},
                #{cntr_category},
                #{cntr_category2},
                #{cntr_adres1},
                #{cntr_adres2},
                #{rgtr_id},
                #{rgtr_dt})
    </insert>

    <!-- 기부 목록 -->
    <select id="donaslist" resultType="com.example.water_web.Vo.DonaVo">
        select *
        from tb_cntr
        order by cntr_sn asc
    </select>

    <!-- 기부 조회 -->
    <select id="donasView" resultType="com.example.water_web.Vo.DonaVo">
        select *
        from tb_cntr
        where cntr_sn = #{cntr_sn}
    </select>

    <!-- 기부 수정 -->
    <update id="donasModify" parameterType="com.example.water_web.Vo.DonaVo">
        update tb_cntr
        set
            cntr_ttl = #{cntr_ttl},
            cntr_cn = #{cntr_cn},
            cntr_rcvfvr = #{cntr_rcvfvr},
            cntr_obctr = #{cntr_obctr},
            cntr_category = #{cntr_category},
            cntr_category2 = #{cntr_category2},
            cntr_end_dt = #{cntr_end_dt},
            cntr_adres1 = #{cntr_adres1},
            cntr_adres2 = #{cntr_adres2}
        where cntr_sn = #{cntr_sn}
    </update>

    <!-- 상품 삭제 -->
    <delete id="donasDelete">
        delete from tb_cntr
        where cntr_sn = #{cntr_sn}
    </delete>

    <!-- 기부 소통글 등록 -->
    <insert id="mlrdRegister" parameterType="com.example.water_web.Vo.MlrdVo">
        insert into tb_mlrd (
            cntr_sn,
            mlrd_ttl,
            mlrd_cn,
            rgtr_id,
            rgtr_dt,
            cntr_end_dt)
        values ( #{cntr_sn},
                 #{mlrd_ttl},
                 #{mlrd_cn},
                 #{rgtr_id},
                 #{rgtr_dt},
                 #{cntr_end_dt})
    </insert>

<!--    &lt;!&ndash; 상품 삭제 &ndash;&gt;-->
<!--    <update id="donasDelete" parameterType="com.example.water_web.Vo.DonaVo">-->
<!--        UPDATE tb_cntr-->
<!--        SET use_yn = 'N'-->
<!--        WHERE cntr_sn = #{cntr_sn}-->
<!--    </update>-->

</mapper>