<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.water_web.Mapper.AdminMapper">

    <!-- 카테고리 호출 -->
    <select id="ctgry" resultType="com.example.water_web.Vo.CtgryVo">
        select ctgry_nm, ctgry_code
        from tb_ctgry
    </select>

    <!-- 상품 등록 -->
    <insert id="register">
        insert into tb_cntr (cntr_ttl, cntr_cn, cntr_obctr, cntr_category)
        values ( #{cntr_ttl}, #{cntr_cn}, #{cntr_obctr}, #{cntr_category})
    </insert>
</mapper>