<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.water_web.Mapper.DonaMapper">

    <!-- 전체 상품 리스트 -->
    <select id="donainglistall" resultType="com.example.water_web.Vo.DonaVo">
        select a.*, b.ctbny_pc, (b.ctbny_pc / a.cntr_obctr * 100) as percent
        from tb_cntr AS a
                 left JOIN tb_cntr_ctbny AS b
                           ON a.cntr_sn = b.cntr_sn
    </select>

    <!-- 카테고리별 상품 리스트 -->
    <select id="donainglist" resultType="com.example.water_web.Vo.DonaVo">
        select a.*, b.ctbny_pc, (b.ctbny_pc / a.cntr_obctr * 100) as percent
        from tb_cntr AS a
                 left JOIN tb_cntr_ctbny AS b
                           ON a.cntr_sn = b.cntr_sn
        where cntr_category = #{cntr_category}
    </select>

    <!-- 상품 조회 + 카테고리 조인 -->
    <select id="donasView" resultType="com.example.water_web.Vo.DonaVo">
        select cntr_sn, mbr_sn, cntr_ttl, cntr_cn, cntr_adres1, cntr_adres2, cntr_rcvfvr, cntr_str_dt, cntr_end_dt, cntr_obctr, cntr_category, cntr_category2, cntr_file_id
        from tb_cntr
        where cntr_sn = #{cntr_sn}
    </select>

    <!-- 기부금 등록하기 -->
    <insert id="makeDona" parameterType="com.example.water_web.Vo.MakeDonaVo">
        insert into tb_cntr_btr (cntr_sn, mbr_sn, btn_nm, btr_pc, btr_adres1, btr_adres2, rgtr_id, rgtr_dt)
        values ( #{cntr_sn}, #{mbr_sn}, #{btn_nm}, #{btr_pc}, #{btr_adres1}, #{btr_adres2}, #{rgtr_id}, #{rgtr_dt})
    </insert>

    <!-- 기부금 모으기 -->
    <insert id="gatherDona" parameterType="com.example.water_web.Vo.MakeDonaVo">
        replace into tb_cntr_ctbny (cntr_sn, ctbny_pc, rgtr_dt)
        select cntr_sn, sum(btr_pc), rgtr_dt
        from tb_cntr_btr
        where cntr_sn = #{cntr_sn}
    </insert>

    <!-- 현재 기부액 조회 + 기부율 -->
    <select id="magaDona" resultType="com.example.water_web.Vo.DonaVo">
        select a.cntr_obctr, b.ctbny_pc, (b.ctbny_pc / a.cntr_obctr * 100) as percent
        from tb_cntr AS a
                 INNER JOIN tb_cntr_ctbny AS b
                            ON a.cntr_sn = b.cntr_sn
        WHERE b.cntr_sn = #{cntr_sn}
    </select>

</mapper>