<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.water_web.Mapper.DonaMapper">
    <select id="list" resultType="com.example.water_web.Vo.DonaVo">
        select
            mbr_sn, cntr_ttl, cntr_cn, cntr_adres, cntr_category
        from tb_cntr
        where cntr_category = #{cntr_category}
    </select>
</mapper>