<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.water_web.Mapper.MlrdMapper">

    <!-- 기간 지난 기부 조회 -->
    <select id="viewMlrd" resultType="com.example.water_web.Vo.MlrdVo">
        SELECT cntr_sn, mlrd_ttl, mlrd_cn, mlrd_file_id
        FROM tb_mlrd
        WHERE cntr_sn = #{cntr_sn}
    </select>

</mapper>