<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.water_web.Mapper.MlrdMapper">

    <!-- 기간 지난 기부 조회 -->
    <select id="viewMlrd" resultType="com.example.water_web.Vo.MlrdVo">
        SELECT a.cntr_sn, a.mlrd_cn, a.mlrd_file_id, b.cntr_ttl, (c.ctbny_pc / b.cntr_obctr * 100) as percent, b.cntr_str_dt, b.cntr_end_dt, b.cntr_obctr, c.ctbny_pc
        FROM tb_mlrd AS a
                 LEFT JOIN tb_cntr AS b
                           ON a.cntr_sn = b.cntr_sn
                 LEFT JOIN tb_cntr_ctbny AS c
                           ON b.cntr_sn = c.cntr_sn
        WHERE a.cntr_sn = #{cntr_sn}
    </select>

</mapper>