<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.water_web.Mapper.UserMapper">
    <!-- User 테이블 가져오기 -->
    <select id="getUserList" resultType="com.example.water_web.Vo.UserVo">
        SELECT *
        FROM tb_mbr
        WHERE mbr_sn = #{sn}
    </select>

    <insert id="insertUser" parameterType="com.example.water_web.Vo.UserVo">
        INSERT INTO tb_mbr(
            mbr_se, mbr_nm, mbr_id, mbr_password, mbr_ncnm, mbr_gen, mbr_tel, mbr_brthdy, mbr_email, rgtr_id, rgtr_dt
        )
        values(
            #{mbr_se},
            #{mbr_nm},
            #{mbr_id},
            #{mbr_password},
            #{mbr_ncnm},
            #{mbr_gen},
            #{mbr_tel},
            #{mbr_brthdy},
            #{mbr_email},
            #{rgtr_id},
            #{rgtr_dt}
                        )
    </insert>
    <!-- 회원 정보 가져오기 -->
    <select id="getUserByEmail" resultType="com.example.water_web.Vo.UserVo">
        SELECT *
        FROM tb_mbr
        WHERE mbr_id = #{mbr_id} and use_yn = 'Y'
    </select>
    <select id="getUserBySn" resultType="com.example.water_web.Vo.UserVo">
        SELECT *
        FROM tb_mbr
        WHERE mbr_sn = #{mbr_sn} and use_yn = 'Y'
    </select>
    <select id="getUserById" resultType="com.example.water_web.Vo.UserVo">
        SELECT *
        FROM tb_mbr
        WHERE mbr_id = #{mbr_id} and use_yn = 'Y'
    </select>

    <!-- 관리자페이지 가는용 -->
    <select id="signin" resultType="com.example.water_web.Vo.UserVo">
        SELECT *
        FROM tb_mbr
        WHERE mbr_id = #{mbr_id} and use_yn = 'Y'
    </select>

    <!-- 회원정보 수정 -->
    <update id="updateUser" parameterType="com.example.water_web.Vo.UserVo">
        UPDATE tb_mbr
        SET mbr_ncnm = #{mbr_ncnm},
            mbr_password = #{mbr_password},
            mbr_tel = #{mbr_tel},
            mbr_email = #{mbr_email}
        WHERE mbr_sn = #{mbr_sn}
    </update>

    <!-- 탈퇴 -->
    <update id="deleteUser" parameterType="com.example.water_web.Vo.UserVo">
        UPDATE tb_mbr
        SET use_yn = 'N'
        WHERE mbr_sn = #{mbr_sn}
    </update>

    <!-- 아이디 중복 체크 -->
    <select id="idCheck" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM tb_mbr
        WHERE mbr_id= #{mbr_id}
    </select>

    <!-- 아이디 잠금 -->
    <update id="lockMemberLogin">
        UPDATE tb_mbr
        SET FAIL_CNT = #{fail_cnt},
            LOCK_YN = #{lock_yn}
        WHERE MBR_ID = #{mbr_id}
    </update>
</mapper>
